.headline {
  color: #D6D5C9;
  padding-bottom: 5px;
  margin-top: 480px;
  font-size: 80px;
  font-family: 'Cormorant Garamond', serif;
}

.hl-description {
  font-family: 'Cormorant Garamond', serif;
  color: #D6D5C9;
  font-size: 24px;
}

.btn-disclaimer {
  color: #D6D5C9;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-links {
  color: #D6D5C9;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
}

.btn-disclaimer:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.btn-links:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
